<section id="quizz-section">
    
    <form action="" method="post">
        <!-- <img [src]="pebble_character" alt=""> -->
        <div id="form-contain">
            <div>
                <input type="text" placeholder="prénom">
                <input type="text" placeholder="nom">
            </div>
            <input type="email" placeholder="email">
            <div>
                <select name="" id="">
                    <option value="">--Formation intérésser--</option>
                    <option value="homme">homme</option>
                    <option value="homme">femme</option>
                </select>
                <select name="" id="">
                    <option value="">--Niveau d'études--</option>
                    <option value="homme">homme</option>
                    <option value="homme">femme</option>
                </select>
            </div>
            <div>
                <input type="number" placeholder="age">
                <select name="" id="" >
                    <option value="">--genre--</option>
                    <option value="homme">homme</option>
                    <option value="homme">femme</option>
                </select>
                <select name="" id="">
                    <option value="">--statut--</option>
                </select>
                <select name="distance" id="">
                    <option value="">--distance--</option>
                </select>
            </div>
        </div>
        <input type="submit">
        
    </form>
    
</section>