<section id="portfolio">
    <div class="container">
        <div id="wrapper-portfolio">
            <a href="">
                <div class="portfolio-card" id="pc">
                    <div></div>
                    <h5>Portfolio 1</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                </div>
            </a>
            
            <div class="portfolio-card">
                <div></div>
                <h5>Portfolio </h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. .</p>
            </div>
            <div class="portfolio-card">
                <div></div>
                <h5>Portfolio </h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
            </div>
            <div class="portfolio-card">
                <div></div>
                <h5>Portfolio </h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="portfolio-card">
                <div></div>
                <h5>Portfolio </h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="portfolio-card">
                <div></div>
                <h5>Portfolio </h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="portfolio-card">
                <div></div>
                <h5>Portfolio </h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            
        </div>

       
    </div>
    
</section>